# Extra Folders
/CMakeFiles
/cpu_main.dir
/spmv_bench.dir
/cg_solver.dir
/out
/Release
/x64

# From CMake
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.json
*.yaml
*.tlog
*.deps
*.sln
*.bin
*.vsidx
*.db
*.sqlite
*.suo
*.wsuo
*.vs

# Profiling
*.exe
*.lib
*.ncu-rep
*.exp

# Text Files and Images
*.png
CMakeCache.txt