*.vcxproj
*.vcxproj.filters
*.json
*.yaml
*.tlog
*.deps
*.sln
*.bin
*.vsidx
/CMakeFiles
/cpu_main.dir
/spmv_bench.dir
/cg_solver.dir
/out
/Release
/x64
*.db
CMakeCache.txt
cmake_install.cmake
*.sqlite
*.suo
*.wsuo
*.vs
